@page "/counter"
@using System.Net.Http.Json
@using InterviewPrep.Application.Products.GetProducts
@using InterviewPrep.Application.ViewModels

@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-secondary" @onclick="GetProductsAsync">Get Products</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private List<ReadProductViewModel> products = new();

    private async Task GetProductsAsync()
    {
        try
        {
            products = await Http.GetFromJsonAsync<List<ReadProductViewModel>>("http://localhost:5158/getproducts")
                       ?? [];

            Console.WriteLine($"Fetched {products.Count} products");
        }
        catch (Exception ex)
        {
            await Console.Error.WriteLineAsync($"Error fetching products: {ex.Message}");
        }
    }
}